
*{
    box-sizing: border-box;
}

html{
    min-height: 100vh;
}
body{
    margin: 0;
    background:url("requirements/background.png") no-repeat center center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    margin-bottom: 20px;
    box-sizing: border-box;
    justify-content: center;
    display: grid;
    padding-top: 35px;
    padding-bottom: 30px;
    grid-template-columns: repeat(4,auto);
    gap: 13px;
    width: 481.6px;
    height:590px;
    background: url("requirements/image.jpg") no-repeat center center;
    background-size: cover;
    border-radius: 10px;
    border: 3px solid #324e4d;
    box-shadow: 0 9px 16px rgba(0, 0, 0, 0.3);
}

.info{
    color: rgb(0, 0, 0);
    font-weight: 800;
    padding-bottom: 5px;
    padding-inline: 10px;
    font-size: 1.3rem;
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 3px solid #3c3d39;
    box-shadow: 0px 3px 0px rgb(204, 192, 192); /* X Y blur color */
}

.info1{
    display: flex;
    gap: 4px;
}
#time-rem,#flips-count{
    text-align: center;
    background-color: rgb(235, 233, 233);
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 4px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #324e4d;
    color: black;
}
.title{
    margin-top: 40px;
    color: rgb(0, 0, 0);
    text-shadow:2px 2px 5px rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 2.8rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}

.card{
    position: relative;
    height: 101.4px;
    width: 79.8px;
    transform-style:preserve-3d;
    transition:transform 0.6s;
    cursor: pointer;
    overflow: hidden;
}


.backside, .frontside{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 10px;
}
.frontside{
    transition: background-color 0.3s ease;
}
.card:hover .frontside{
  background-color: #b2ca77;
}

.overlay-text{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    display: flex;
    color:white;
    text-shadow:2px 2px 5px rgba(181, 177, 177, 0.8);
    cursor: pointer;
    transition:transform 0.6s;
}
.txt{
    color: white;
    transition:transform 0.6s;
}
.txt:hover{
    color: green;
    text-decoration: underline;
}




.overlay-text.visible{
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}


.sub-text{
    font-size: .3em;
    padding: 8px;
    border-radius: 10px;
    margin-top: 10px;
    background:radial-gradient(rgb(113, 201, 248),rgb(48, 48, 112));
    border:2px solid rgb(40, 32, 70);
    transition: transform 0.3s ease;
}

.sub-text:hover{
    transform: scale(1.2);
    background:radial-gradient(rgb(129, 211, 255),rgb(65, 65, 138));
}
@keyframes overlay-grow{
    from{
        background-color:rgba(0,0,0,0);
        font-size:0;
    }
    to{
        background-color:rgba(0,0,0,.8);
        font-size: 6em;
    }
}
#victory{
    visibility: hidden;
    
}
#game-over{
    visibility: hidden;
}








.card.flipped{
    transform:rotateY(180deg);
}



.image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.frontside{
    border: 2px solid #324e4d;
    background-color: #a0b765;
}


.backside{
    background-color: rgb(69, 220, 102);
    border:2px solid black;
    transform: rotateY(180deg);
    overflow: hidden;

}



.flipped{
    transform: rotateY(180deg);
}
.card.flipped .frontside{
    backface-visibility: hidden;
}
.card.flipped .backside{
    backface-visibility: visible;
}

@media (max-width:650px){
    .txt{
        font-size: 60px;
    }
    .title{
        font-size: 40px;
    }
    .container{
        width: 70%;
        height: 500px;
    }
    .card{
        width: 60px;
        height: 80px;
    }
    @keyframes overlay-grow{
        from{
            background-color:rgba(0,0,0,0);
            font-size:0;
        }
        to{
            background-color:rgba(0,0,0,.8);
            font-size: 50px;
        }
    }
    .sub-text{
        height: 50px;
        width: 200px;
        background:radial-gradient(rgb(42, 152, 64),rgb(2, 67, 19));
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
    }
   
}
@media (max-width:500px){
    .txt{
        font-size: 50px;
        background-color: rgba(41, 140, 232, 0.544);
        padding: 8px;
        border-radius: 10px;

    }
    
    .title{
        font-size: 40px;

    }
    .container{
        width: 85%;
        height: 500px;
    }
    .card{
        width: 65px;
        height: 80px;
    }
   
   
}
